<div class="container rounded-5 shadow-lg p-5">
    <h2 class="fw-bolder fs-5 border-bottom border-3 pb-1 fst-italic">Forget Your Password</h2>
    <!-- <div *ngIf="apiErros" class="alert alert-danger rounded-4 p-2 mt-3"><h4  class="fw-bolder fs-6 text-center text-black fst-italic">{{apiErros}}</h4></div>  -->
    <form class="py-3" [formGroup]="restPasswordCodeForm" (submit)="sentCode(restPasswordCodeForm)">
        <label for="CODE" class="fs-7 p-1 fw-normal">CODE:</label>
        <input type="text" id="CODE" class="form-control py-2 px-2 mb-3" placeholder="Enter code" formControlName="resetCode">
        <div *ngIf="restPasswordCodeForm.get('resetCode')?.errors && restPasswordCodeForm.get('resetCode')?.touched">
            <p *ngIf="restPasswordCodeForm.get('resetCode')?.getError('required')" class="fw-bolder fs-7 text-danger px-1">resetCode Is Required</p>
        </div> 
        <button  type="submit" class="btn btn-dark fst-italic fw-bolder mb-3 fs-7 w-100 text-white">
            <i *ngIf="isLoading" class="fa-solid fa-spinner fa-spin fa-lg text-white"></i>
            <p *ngIf="!isLoading" class="fw-bolder fs-7 text-white m-0">verify Code</p>
            </button>
    </form>
</div>
