.p-dropdown
{
    background-color: black !important;
}
.p-dropdown-panel 
{
    background-color: black !important;
}
.p-component
{
    background-color: black !important;
}
.p-ripple
{
    background-color: black !important;
}