<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="restPasswordForm" (ngSubmit)="submit(restPasswordForm)">
                <input type="email"  class="form-control my-3" formControlName="email" placeholder="Enter your Email">
                <div *ngIf="restPasswordForm.get('email')?.touched && restPasswordForm.get('email')?.invalid ">
                    <p class="fw-bolder fs-7 text-danger px-1" *ngIf="restPasswordForm.get('email')?.getError('required')">Email Is Required</p>
                    <p class="fw-bolder fs-7 text-danger px-1" *ngIf="restPasswordForm.get('email')?.getError('email')">invalid Email</p>
                </div>
                <input type="password"  class="form-control my-3" formControlName="newPassword" placeholder="Enter New Password">
                <div *ngIf="restPasswordForm.get('newPassword')?.touched && restPasswordForm.get('newPassword')?.invalid ">
                    <p class="fw-bolder fs-7 text-danger px-1" *ngIf="restPasswordForm.get('newPassword')?.getError('required')">password Is Required</p>
                    <p *ngIf="restPasswordForm.get('newPassword')?.getError('pattern')" class="fw-bolder fs-7 text-danger px-1">Password must be more Than 8 character and containes Numbers, UpperCase , LowerCase and Special Character</p>
                </div>
                <button class="btn btn-blue my-3 w-75 mx-auto d-block fw-bolder fs-6">
                    <i *ngIf="isLoading" class="fa-solid fa-spinner fa-spin fa-lg text-white"></i>
                    <p *ngIf="!isLoading" class="fw-bolder fs-7 text-white m-0">Rest Password</p>
                </button>
            </form>
        </div>
    </div>
</div>
