<div class="container rounded-5 shadow-lg p-5">
    <h2 class="fw-bolder fs-5 border-bottom border-3 pb-1 fst-italic">Forget Your Password</h2>
    <!-- <div *ngIf="apiErros" class="alert alert-danger rounded-4 p-2 mt-3"><h4  class="fw-bolder fs-6 text-center text-black fst-italic">{{apiErros}}</h4></div>  -->
    <form class="py-3" [formGroup]="forgetPasswordForm" (submit)="forgetPassword(forgetPasswordForm)">
        <label for="email" class="fs-7 p-1 fw-normal">Email:</label>
        <input type="email" id="email" class="form-control py-2 px-2 mb-3" placeholder="Enter Your email" formControlName="email">
        <div *ngIf="forgetPasswordForm.get('email')?.errors && forgetPasswordForm.get('email')?.touched">
            <p *ngIf="forgetPasswordForm.get('email')?.getError('email')" class="fw-bolder fs-7 text-danger px-1">Invalid Email</p>
            <p *ngIf="forgetPasswordForm.get('email')?.getError('required')" class="fw-bolder fs-7 text-danger px-1">Email Is Required</p>
        </div> 
        <button  type="submit" class="btn btn-dark fst-italic fw-bolder mb-3 fs-7 w-100 text-white">
            <i *ngIf="isLoading" class="fa-solid fa-spinner fa-spin fa-lg text-white"></i>
            <p *ngIf="!isLoading" class="fw-bolder fs-7 text-white m-0">Submit</p>
            </button>
    </form>
</div>