<div class="container p-5">
    <h2 *ngIf="ProductList.length==0" class="fw-bolder fst-italic fs-4 text-center">No Favourite Products Added!</h2>
    <div class="row g-5">
        <div class="col-md-6 col-xl-3" *ngFor="let product of ProductList">
            <div class="shadow-lg rounded-3 d-flex flex-column justify-content-center align-items-center position-relative" >
                <div class="d-flex justify-content-between main cursorPointer height"  [routerLink]="['/product',product.id]">
                  <img [src]="product.imageCover" height="100" class=" img rounded-start-3" [routerLink]="['/product',product.id]">
                  <div class="p-3">
                  <div>
                   <h3 class="fs-7 fw-bolder text-main m-0">{{product.brand.name}}</h3>
                   <p class="fs-6 text-secondary fw-normal m-0">
                   {{product.title.split(" ").splice(0,3).join(" ")}}</p>
                   <div class="d-flex justify-content-between align-items-center"> 
                       <p class="fs-7 text-secondary fw-normal m-0">{{product.price | currency:'EGP'}}</p>
                       <div class="d-flex align-items-start justify-content-center">
                           <span><i class="fa-solid fa-star fa-xl fs-7" style="color: #ffea00;"></i></span>
                           <p class=" mt-1 fs-7 text-secondary fw-normal m-0">{{product.ratingsAverage}}</p>
                       </div>
                   </div>
                  </div>
                  </div>
                </div>
                <button (click)="addToCart(product.id)" class="btn w-75 btn-outline-dark fs-8 fw-bolder my-1 fst-italic">ADD TO CART</button>
                <button (click)="removeItem(product.id)" class="btn w-75 btn-outline-dark fs-8 fw-bolder mt-1 mb-3 fst-italic">Remove From Favourite List</button>
              </div>
        </div>
    </div>
</div>
